include ../about/header.pug

mixin showMember(member)
	img(src='/images/staff/' + member.name.split(' ')[1].toLowerCase() + '.png', alt=member.name, title=`${member.name} (${__(member.role)})`)

.box
	h2= __(title)
	img(src='/images/staff/staff2.jpg', alt='All staff members')
	
.box
	h3= __(membersTitle)
	.staff-members
		each member in staff
			if member.link
				a.staff-member(href=member.link, target='_blank')
					+showMember(member)
			else
				.staff-member
					+showMember(member)
