include ../header.pug

.box
	h2= __(title)
	!= md(__(text))

.box
	.video-container.widescreen
		iframe.video(src='https://www.youtube.com/embed/6WWX5b95kEc?showinfo=0')
		
.box
	h2= __(title2)
	
	!= md(__(lead))


	h3= __(experience)
	
	.step
		img.step-image(src='/images/wagashi/1.jpg', alt='Experience')
		
		.step-info!= md(__(experience.text))

.box
	h3= __(topic)
	
	.step
		img.step-image(src='/images/wagashi/2.jpg', alt='Choose a topic')
		
		.step-info!= md(__(topic.text))
		
.box
	h3= __(investigate)
	
	.step
		img.step-image(src='/images/wagashi/3.jpg', alt='Investigate')
		
		.step-info!= md(__(investigate.text))
		
.box
	h3= __(prepare)
	
	.step
		img.step-image(src='/images/wagashi/4.jpg', alt='Prepare')
		
		.step-info!= md(__(prepare.text))
		
.box
	h3= __(present)
		
	.step
		img.step-image(src='/images/wagashi/5.jpg', alt='Present')
		
		.step-info!= md(__(present.text))
		
.box
	h3= __(reflect)
	
	.step
		img.step-image(src='/images/wagashi/6.jpg', alt='Reflect')
		
		.step-info!= md(__(reflect.text))
