include header.jade

.box
	h2= __(title)
	
	!= md(__(lead))
	
	img(src='/images/course.jpg', alt='Course overview')

.box.course
	.badge N5 - N4
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(introductory)
	p.course-description= __(introductory.text)
	
.box.course
	.badge N3
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(beginner)
	p.course-description= __(beginner.text)
	
.box.course
	.badge N2
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(intermediate)
	p.course-description= __(intermediate.text)
	
.box.course
	.badge N1
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(advanced)
	p.course-description= __(advanced.text)