include header.pug

.box
	h2= __(title)
	
	!= md(__(lead))
	
	img(src='/images/course.jpg', alt='Course overview')

.box.course
	.badge N5
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(introductory)
	p.course-description!= md(__(introductory.text))
	
.box.course
	.badge N4
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(beginner)
	p.course-description!= md(__(beginner.text))
	
.box.course
	.badge N3 - N2
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(intermediate)
	p.course-description!= md(__(intermediate.text))
	
.box.course
	.badge N1
	.course-icon.glyphicon.glyphicon-education
	h3.course-title= __(advanced)
	p.course-description!= md(__(advanced.text))