include ../header.pug

.box
	h2= __(title)
	!= md(__(lead))
	
.box
	h3= __(levels)
	!= md(__(levels.text))

.box
	h3= __(certification)
	!= md(__(certification.text))

.box
	h3= __(interviews)
	
	ul
		li
			a.ajax(href='/future/jlpt/interview/johansson') Peter Johansson
			|  
			span= __(certification.N1)
		li
			a.ajax(href='/future/jlpt/interview/miranda') Gabriella Miranda
			|  
			span= __(certification.N2)