include header.pug

.box
	h2= __(title)
	!= md(__(lead).replace('${MNC}', 'https://my.nihongo-center.com'))
	
	img(src='/images/join-us.jpg', alt='Join us at Nihongo Center')
	
.box
	h3= __(preparation)
	!= md(__(preparation.text))
	
	ul
		li
			a(href='/downloads/curriculum-vitae.xls')= __(cv)
		li
			a(href='/downloads/letter-of-guarantee.docx')= __(letter)
		li
			a(href='/downloads/pledge.doc')= __(pledge)
.box
	h3= __(enrollment)
	ul
	
	h4= __(application)
	!= md(__(application.text))
	
	img(src='/images/Guide1.jpg', alt='Guide1')
	
	ul
	
	img(src='/images/Guide2.jpg', alt='Guide2')

	ul
			
	!= md(__(application.complete))
	
	img(src='/images/Guide3.jpg', alt='Guide3')
	ul
	
	!= md(__(application.documents))
	
	ul
	
	!= md(__(application.months))
	ul
	!= md(__(application.list))

	
	
	
