include header.jade

.box
	h2= __(title)
	!= md(__(lead).replace('${MNC}', 'https://my.nihongo-center.com'))
	
	img(src='/images/join-us.jpg', alt='Join us at Nihongo Center')
	
.box
	h3= __(preparation)
	!= md(__(preparation.text))
	
	ul
		li
			a(href='/downloads/curriculum-vitae.xls')= __(cv)
		li
			a(href='/downloads/letter-of-guarantee.docx')= __(letter)
		li
			a(href='/downloads/pledge.doc')= __(pledge)