doctype html
html(lang=requestLanguage, prefix='og: http://ogp.me/ns#')
	head
		meta(charset='utf-8')
		title= page.json.title ? __(page.json.title) : (__(title.top) + ' - ' + __(title.bottom))
		
		//- Meta data
		- var keywordList = __(keywords)
		meta(name='copyright', content='Copyright (C)  Japanese Language School - Nihongo Center. All Rights Reserved.')
		meta(name='keywords', content=Array.isArray(keywordList) ? keywordList.join(',') : '')
		meta(name='description', content=__(description))
		meta(name='author' content='Eduard Urbach')
		
		//- Open Graph
		meta(property='og:title', content=__(title.bottom))
		meta(property='og:type', content='website')
		meta(property='og:image', content='https://nihongo-center.com/images/logos/nihongo-center.png')
		meta(property='og:url', content='https://nihongo-center.com')
		
		//- Link data
		//- link(rel='canonical', href='https://nihongo-center.com/' + page.url)
		link(rel='home', href='https://nihongo-center.com/', title='Japanese Language School Kyoto')
		link(rel='help', href='https://nihongo-center.com/life/faq')
		
		each language in languages
			if language !== requestLanguage
				- var languageSuffix = language.code === 'en' ? '' : ('?language=' + language.code)
				link(rel='alternate', hreflang=language.code, href='https://nihongo-center.com' + requestURL + languageSuffix)
	
	body
		#container
			header#header
				.box.header-layout
					img.logo(src='/images/logos/nihongo-center-small.png', alt='Japanese Language School - Nihongo Center')
					h1.title
						span.title-top= __(title.top)
						span.title-bottom= __(title.bottom)
					nav#navigation
						a.nav-item.ajax(href='/', accesskey='1')
							span.glyphicon.glyphicon-info-sign.nav-icon
							span.nav-text= __(nav.about)
						a.nav-item.ajax(href='/course', accesskey='2')
							span.glyphicon.glyphicon-education.nav-icon
							span.nav-text= __(nav.course)
						a.nav-item.ajax(href='/life', accesskey='3')
							span.glyphicon.glyphicon-user.nav-icon
							span.nav-text= __(nav.life)
						a.nav-item.ajax(href='/future', accesskey='4')
							span.glyphicon.glyphicon-flag.nav-icon
							span.nav-text= __(nav.future)
						a.nav-item.ajax(href='/join', accesskey='5')
							span.glyphicon.glyphicon-share-alt.nav-icon
							span.nav-text= __(nav.join)
			#main
				main#content.fade!= content
				aside#sidebar
					include sidebar.jade
			footer#footer
				.box
					span &copy; 2016 
					a(href='/') Japanese Language School - Nihongo Center
					|  | 
					a(href='mailto:support@nihongo-center.com') Contact
			script(type='application/ld+json')
				include schema.json