doctype html
html
	head
		title= app.config.title
		meta(name='keywords', content=__(keywords))
		meta(name='description', content=__(description))
		each language in languages
			if language !== requestLanguage
				link(rel='alternate', hreflang=language.code, href='https://nihongo-center.com' + requestURL + '?language=' + language.code)
	
	body
		#container
			header#header
				.box.header-layout
					img.logo(src='/images/logos/nihongo-center-small.png', alt='Japanese Language School - Nihongo Center')
					h1.title
						span.title-top= __(title.top)
						span.title-bottom= __(title.bottom)
					nav#navigation
						a.nav-item.ajax(href='/')
							span.glyphicon.glyphicon-info-sign.nav-icon
							span.nav-text= __(nav.about)
						a.nav-item.ajax(href='/course')
							span.glyphicon.glyphicon-education.nav-icon
							span.nav-text= __(nav.course)
						a.nav-item.ajax(href='/life')
							span.glyphicon.glyphicon-user.nav-icon
							span.nav-text= __(nav.life)
						a.nav-item.ajax(href='/future')
							span.glyphicon.glyphicon-flag.nav-icon
							span.nav-text= __(nav.future)
						a.nav-item.ajax(href='/join')
							span.glyphicon.glyphicon-share-alt.nav-icon
							span.nav-text= __(nav.join)
			#main
				main#content.fade!= content
				aside#sidebar
					include sidebar.jade
			footer#footer
				.box
					span &copy; 2016 
					a(href='/') Nihongo Center
					|  | 
					a(href='mailto:support@nihongo-center.com') Contact