a.box.apply-now(href='https://my.nihongo-center.com/', target='_blank')
	span.glyphicon.glyphicon-thumbs-up
	span= __(apply)

if requestLanguage === 'se'

	a.box.Contact(href='http://nihongo-centre.com/en/', target='_blank')
		span= __(contact)

if requestLanguage === 'id'

	a.box.Contact(href='http://nihongo-centre.com/en/', target='_blank')
		span= __(contact)

if requestLanguage === 'en'

	a.box.Contact(href='http://nihongo-centre.com/en/', target='_blank')
		span= __(contact)
	
if requestLanguage === 'zh-hant'

	a.box.Contact(href='http://nihongo-centre.com/en/', target='_blank')
		span= __(contact)
	
if requestLanguage === 'th'

	a.box.Contact(href='http://nihongo-centre.com/en/', target='_blank')
		span= __(contact)
		
if requestLanguage === 'fr'

	a.box.Contact(href='http://nihongo-centre.com/fr/', target='_blank')
		span= __(contacter)
	
.box
	p.center
		strong SCHEDULE

	ul
	p.center
		span Application for April 2018: 
		strong is now over.
	ul
	p.center
		span It is now possible to apply for a student visa for 
		strong October 2018 

.box.flags
	each language in languages
		if true
			a(href=`javascript:window.changeLanguage('${language.code}');`, title=language.name).flag
				img.flag-image(src=`/images/flags/${language.flag ? language.flag : language.code}.png`, alt=language.name)
		else
			a(href='/' + (language.code ? language.code + '/' : ''), title=language.name).flag
				img.flag-image(src=`/images/flags/${language.flag ? language.flag : language.code}.png`, alt=language.name)

if requestLanguage === 'zh-hant'
	.box
		p.center
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNihongoCenterKyotoTW%2F&tabs=timeline&width=255&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="255" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
if requestLanguage === 'id'
	.box
		p.center
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkyoto.nihongo.center.id%2F&tabs=timeline&width=255&height=350&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="255" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			
if requestLanguage === 'en'
	.box
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNihongoCenterKyoto%2F&tabs=timeline&width=255&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="255" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
if requestLanguage === 'fr'
	.box
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNihongoCenterKyotoFR%2F&tabs=timeline&width=255&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="255" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

if requestLanguage === 'ja'
	.box
		p.center
			a.ajax(href='/recruit')
				img(src='/images/recruit20171027.jpg', alt='Nihongo Center Recruitment')

.box
	p.center
		a(href='https://www.youtube.com/channel/UCESbRxjpk764iuXmLt9soxQ', target='_blank', title='Nihongo Center Youtube Channel')
			img(src='/images/youtube.png', alt='Nihongo Center Youtube Channel')

.box
	a.ajax(href='/access', title='Access')
		img.access-image(src='/images/access.png', alt='Nihongo Center Access')

.box.sidebar-logos
	a.sidebar-logo(href='http://www.nisshinkyo.org/', rel='nofollow', title='Association for the Promotion of Japanese Language Education', target='_blank')
		img(src='/images/logos/nisshinkyo.png', alt='Nisshinkyo')

	a.sidebar-logo(href='http://www.jasso.go.jp/', rel='nofollow', title='Japan Student Services Organization', target='_blank')
		img(src='/images/logos/jasso.png', alt='Jasso')

	a.sidebar-logo(href='http://www.csn.se/', rel='nofollow', title='Centrala studiestödsnämnden (Scholarship for Swedish people)', target='_blank')
		img(src='/images/logos/csn.png', alt='CSN')

.box
	p.center
		a(href='https://medium.com/all-about-kyoto')
			img(src='/images/student-blog.jpg', alt='Nihongo Center - Student Blog')
