a.box.apply-now(href='https://my.nihongo-center.com/', target='_blank')
	span.glyphicon.glyphicon-thumbs-up
	span= __(apply)

.box
	p.center
		strong SCHEDULE

	p.center
		span October 2017 visa application: 
		strong Ended
	ul
	p.center
		span October 2017 short term enrollment: 
		strong Closed
	ul
	p.center
		span April 2018 visa application: 
		strong Deadline December 1st

.box.flags
	each language in languages
		if true
			a(href=`javascript:window.changeLanguage('${language.code}');`, title=language.name).flag
				img.flag-image(src=`/images/flags/${language.flag ? language.flag : language.code}.png`, alt=language.name)
		else
			a(href='/' + (language.code ? language.code + '/' : ''), title=language.name).flag
				img.flag-image(src=`/images/flags/${language.flag ? language.flag : language.code}.png`, alt=language.name)

.box.sidebar-social-media
	a(href='https://www.facebook.com/NihongoCenterKyoto', target='_blank', title='Facebook', class='sidebar-social-media-link facebook')
		img(class='sidebar-social-media-icon', src='/images/social-media/facebook.png', alt='Facebook')
		
.box.sidebar-social-media
	a(href='/contact')
		img(src='/images/social-media/contact.png', alt='E-Mail')

if requestLanguage === 'ja'
	.box
		p.center
			a.ajax(href='/recruit')
				img(src='/images/recruit20170719.jpg', alt='Nihongo Center Recruitment')

.box
	p.center
		a(href='https://www.youtube.com/channel/UCESbRxjpk764iuXmLt9soxQ', target='_blank', title='Nihongo Center Youtube Channel')
			img(src='/images/youtube.png', alt='Nihongo Center Youtube Channel')

.box
	a.ajax(href='/access', title='Access')
		img.access-image(src='/images/access.png', alt='Nihongo Center Access')

.box.sidebar-logos
	a.sidebar-logo(href='http://www.nisshinkyo.org/', rel='nofollow', title='Association for the Promotion of Japanese Language Education', target='_blank')
		img(src='/images/logos/nisshinkyo.png', alt='Nisshinkyo')

	a.sidebar-logo(href='http://www.jasso.go.jp/', rel='nofollow', title='Japan Student Services Organization', target='_blank')
		img(src='/images/logos/jasso.png', alt='Jasso')

	a.sidebar-logo(href='http://www.csn.se/', rel='nofollow', title='Centrala studiestödsnämnden (Scholarship for Swedish people)', target='_blank')
		img(src='/images/logos/csn.png', alt='CSN')

.box
	p.center
		a(href='https://medium.com/all-about-kyoto')
			img(src='/images/student-blog.jpg', alt='Nihongo Center - Student Blog')
