a.box.apply-now(href='https://my.nihongo-center.com/', target='_blank')
	span.glyphicon.glyphicon-thumbs-up
	span= __(apply)

.box.sidebar-social-media
	a(href='https://www.facebook.com/NihongoCenterKyoto', target='_blank', title='Facebook', class='sidebar-social-media-link facebook')
		img(class='sidebar-social-media-icon', src='/images/social-media/facebook.png', alt='Facebook', width='32', height='32')

	a(href='https://plus.google.com/+NihongoCenterJapaneseLanguageSchool%E4%BA%AC%E9%83%BD%E5%B8%82/about', target='_blank', title='Google+', class='sidebar-social-media-link googleplus')
		img(class='sidebar-social-media-icon', src='/images/social-media/googleplus.png', alt='Google+', width='32', height='32')

	a(href='https://twitter.com/NihongoCenterJP', target='_blank', title='Twitter', class='sidebar-social-media-link twitter', rel='publisher')
		img(class='sidebar-social-media-icon', src='/images/social-media/twitter.png', alt='Twitter', width='32', height='32')

	//-a(href='/contact', class='sidebar-social-media-link mail-button')
		img(class='sidebar-social-media-icon', src='/images/social-media/email.png', alt='E-Mail', width='32', height='32')

.box.flags
	each language in languages
		if language.code === 'en' || language.code === 'ja'
			a(href=`javascript:window.changeLanguage('${language.code}');`, title=language.name).flag
				img.flag-image(src=`/images/flags/${language.flag ? language.flag : language.code}.png`, alt=language.name)
		else
			a(href='/' + (language.code ? language.code + '/' : ''), title=language.name).flag
				img.flag-image(src=`/images/flags/${language.flag ? language.flag : language.code}.png`, alt=language.name)

if requestLanguage === 'ja'
	.box
		p.center
			a.ajax(href='/join/recruit')
				img.recruit-image(src='/images/recruit.jpg', alt='Nihongo Center Recruitment')

.box
	a(href='https://www.youtube.com/channel/UCESbRxjpk764iuXmLt9soxQ', target='_blank', title='Nihongo Center Youtube Channel')
		img(src='/images/youtube.jpg', alt='Nihongo Center Youtube Channel')

.box
	a.ajax(href='/join/access', title='Access')
		img.access-image(src='/images/access.png', alt='Nihongo Center Access')

.box
	p.center
		a(href='http://blog.nihongo-center.com/')
			img(src='/images/student-blog.jpg', alt='Nihongo Center - Student Blog')

.box.sidebar-logos
	a.sidebar-logo(href='http://www.nisshinkyo.org/', rel='nofollow', title='Association for the Promotion of Japanese Language Education', target='_blank')
		img(src='/images/logos/nisshinkyo.png', alt='Nisshinkyo')
		
	a.sidebar-logo(href='http://www.jasso.go.jp/', rel='nofollow', title='Japan Student Services Organization', target='_blank')
		img(src='/images/logos/jasso.png', alt='Jasso')
		
	a.sidebar-logo(href='http://www.csn.se/', rel='nofollow', title='Centrala studiestödsnämnden (Scholarship for Swedish people)', target='_blank')
		img(src='/images/logos/csn.png', alt='CSN')

.box
	p.center
		a(href='https://www.studykyoto.jp/', target='_blank')
			img(src='/images/studykyoto.png', alt='Study in Kyoto')
	
.box.sidebar-logos
	p.center
		a.sidebar-logo(href='http://fair.nihonmura.tw/2016/03/2016313-in-7a6d.html', rel='nofollow', target='_blank')
			img(src='/images/logos/nihonmura.jpg', alt='Fair')
	
.box
	p.center
		span October 2016 intensive course registration ends on the 
		strong 3rd of June
		span .