include ../header.pug

mixin pricing(registration, textbooks, tuition, visa)
	- var currency = '¥'
	table
		tbody
			if visa
				tr
					td
						span.glyphicon.glyphicon-plane
						span= __(pricing.visa)
					td.price= intComma(visa) + ' ' + currency
				
			tr
				td
					span.glyphicon.glyphicon-share-alt
					span= __(pricing.registration)
				td.price= intComma(registration) + ' ' + currency
				
			tr
				td
					span.glyphicon.glyphicon-book
					span= __(pricing.textbooks)
				td.price= intComma(textbooks) + ' ' + currency
				
			tr
				td
					span.glyphicon.glyphicon-education
					span= __(pricing.tuition)
				td.price= intComma(tuition) + ' ' + currency
				
			tr
				td.total
					span.glyphicon.glyphicon-chevron-right
					span= __(pricing.total)
				td.total.price= intComma(visa + registration + textbooks + tuition) + ' ' + currency

.box
	h2= __(title)
	
	!= md(__(lead))
	
.box
	h3
		span= __(duration['10 weeks'])
	
	+pricing(27000, 21600, 194400, 0)
	
.box(title='This course is taken using consecutive 3-month tourist visas.')
	h3
		span= __(duration['20 weeks'])
	
	+pricing(54000, 21600, 324000, 0)
	
.box
	.badge= __(popular)
	h3
		span= __(duration['1 year'])
	
	+pricing(54000, 43200, 648000, 32400)
	
	//- p= '※ ' + __(duration['1 year'].note)
	
.box
	h3
		span= __(duration['2 years'])
	
	+pricing(54000, 43200 * 2, 648000 * 2, 32400)
	
	//- p= '※ ' + __(duration['2 years'].note)
