include ../header.jade

.box
	h2= __(study.title)
	!= md(__(study.text))

.box
	h3= __(practical.title)
	!= md(__(practical.text))

.box
	h3= __(work.title)
	!= md(__(work.text))

.box
	h3= __(everyone.title)
	!= md(__(everyone.text))

.box
	h3= __(visa.title)
	!= md(__(visa.text))