include header.jade

.box
	img(src='/images/frontpage.jpg', alt='Nihongo Center')
	!= md(__(intro))
		
.features
	each feature, id in features
		.box.feature(class=id)
			img.feature-icon(src=`/images/about/${id}.png`, alt=__(feature.title))
			h3.feature-title= __(feature.title)
			p!= __(feature.text)