include ../header.pug

.box
	h2= __(title)
	!= md(__(lead))

.box
	h3= __(university)
	!= md(__(university.text))
		
.box
	h4= __(university.bachelor)
	!= md(__(university.bachelor.text))

.box
	h5= __(university.bachelor.public)
	!= md(__(university.bachelor.public.text))

.box
	h5= __(university.bachelor.private)
	!= md(__(university.bachelor.private.text))

.box
	h4= __(university.master)
	!= md(__(university.master.text))
	
.box
	h3= __(vocational)
	!= md(__(vocational.text))